{% load static %}
<footer id="footer" class="footer-area section-padding">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="footer-logo"><img src={% static 'img/logo.png' %} alt=""></h3>
              <div class="textwidget">
                <p>Make your softwares come true.</p>
                <p>Ronald's informations<p>
              </div>
              <div class="social-icon">
                <a class="facebook" href="https://www.facebook.com/ronaldo.franco.5872"><i class="lni-facebook-filled"></i></a>
                <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                <a class="instagram" href="https://www.instagram.com/ronaldofr_brs_/"><i class="lni-instagram-filled"></i></a>
                <a class="linkedin" href="https://www.linkedin.com/in/ronaldo-franco-7b9282b1/"><i class="lni-linkedin-filled"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Contact</h3>
            <ul class="address">
              <li>
                <a href="#"><i class="lni-map-marker"></i> Ronald's Apartment - <br> First Floor New York, NY 10016</a>
              </li>
              <li>
                <a href="#"><i class="lni-envelope"></i> E: ronaldofra_brs_@outlook.com</a>
              </li>
              <li>
                <a class="header-logo-invertocat" href="https://github.com/Ronaldo1991" data-hotkey="g d" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
                  <svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1" viewBox="0 0 16 16" width="32"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div> 
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-content">
              <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="container-fluid p-3 p-md-5">
              <script type="text/javascript">
              document.write("Ronaldo Franco Bernardes   ",new Date().getFullYear()); 
          </script>
          </div>
          </div>
        </div>
      </div>
    </div>
</footer> 